.editor-container{
    width: 100%;
    height: 100%;
    position: relative;
}
.editor-container .button-expand{
    position: absolute;
    right: 15px;
    bottom: 0px;
    z-index: 1;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.806);
}
.editor-container .button-expand svg{
    font-size: 20px;
}
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
