@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

.container {
  display: flex;
  flex-direction: column;
  font-family: inter;
  width: 100%;
  height: 100%;

}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px 100px 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
  padding-bottom: 80px;
}

.image-container {
  display: inline-flex;
  border-radius: 12px;
  border: 1px solid #F7F6F5(234, 234, 234);
  margin-bottom: 8px;
  margin-right: 8px;
  width: 100px;
  height: 100px;
  padding: 4px;
  box-sizing: border-box;
}

.thumb-inner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.image-preview {
  display: block;
  width: auto;
  height: 100%;
}

.div-all-images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16;
}

.dropzone-text-8 {
  font-size: 12px;
}

.button-support {
  padding: 10px 25px 10px 25px;
  background-color: #00BDF7;
  border: none;
  color: #FFFFFF;
  border-radius: 12px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  margin-top: 60px;
}

.span-theme {
padding: 5px 5px 2px 5px;
font-family: Inter;
}

.h4-theme {
  font-family: inter;
  font-size: 16px;
  color: #848484;
  margin-top: 15px;
}
/*
button:hover {
  background-color: #48DE36;
}*/